* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
  font-family: "Nunito Sans", sans-serif;
  background-color: #456730;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #456730;
  text-shadow: 3px 3px 1px #d2b27d;
}

h2 {
  font-size: 50px;
  text-align: center;
  color: #456730;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  text-align: center;
  color: #456730;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

.aboutmeblurb {
  text-align: center;
}

body {
  width: 80%;
  margin: 10px auto;
  background-color: #947144;
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
  border-radius: 5px;
  display: flex;
  height: 600px;
}

.profileimage {
  display: block;
  margin: 0 auto;
  height: 450px;
  border-radius: 100px;
}

.headerbox {
  width: 50%;
  display: flex;
  justify-content: center;
}

.infocontainer {
  width: 50%;
  display: flex;
  justify-content: center;
}

.aboutmecontainer {
  padding: 50px 0 20px 0;
}

.hobbiescontainer {
  padding-top: 20px;
}
.hobbieslist {
  justify-content: center;
  display: flex;
}

.list1 {
  padding-right: 50px;
}
.list2 {
  padding-left: 50px;
}

.computerimage {
  height: 80px;
}
.githubcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.githublink {
  padding-bottom: 15px;
}
